@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
body{
    position: relative;
    width:100%;
    height: 100%;
}
.board-container {
    position: absolute;
    left: 10%;
    margin-top: 50px;
    overflow-x: auto;
}

.board-table {
    width:100%;
    min-width: 500px;
    border-top: 1px solid #444444;
    border-collapse: collapse;
    font-family: 'Sunflower', sans-serif;
}

.thead-dark {
    background-color:#f0f9fe;
}

th, td {
    border-bottom: 1px solid #444444;
    border-left: 1px solid #444444;
    padding: 10px;
}

th:first-child, td:first-child {
    border-left: none;
}

.board-detail-container {
    margin: 100px;
}